<a ><img src="assets/img/nike.png" alt="" routerLink="/" class="logo"></a>



<div class="con">
  <div class="forms-cont">
    <div class="signin-signup">
      <form action="#" class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fa fa-user"></i>
          <input type="text"  class="in" placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fa fa-lock"></i>
          <input type="password" class="in" placeholder="Password" />
        </div>
        <input type="submit" value="Login" class="btn solid" />
        <p class="social-text">Or Sign in with social platforms</p>
        <div class="social-media">

          <a
            (click)="login()"
            class="social-icon">
            <i class="fa fa-google"></i>
          </a>

        </div>
      </form>

    </div>
  </div>


</div>




