<bs-nav-bar ></bs-nav-bar>

<!------------------created by Firdaus, contact 0557370409--------------->
<body>
  <section class="landingPage">
      <article class="landing-details">
          <header class="landing-header">
              <h1>Geniune Kicks</h1>
              <p>Get Your Original Sneakers At Affordable Prices.
                We get Over Thousands of Customers Just Because We Proveide The Best Quality And Affordable Sneakers.
              </p>
              <div class="tags">
                  <a routerLink="/products">Visit Shop</a>
              </div>
          </header>

      </article>
      <article class="landing-img">
          <img src="assets/img/nike lebron.png" alt="" class="landingImg" @fadeInUp>
      </article>

  </section>


  <section class="testi">

    <div class="arrivals">
        <div class="in">
          <h1>New Arrivals</h1>
          <div class="border1"></div>

          <div class="row1">
            <div class="col1">
              <div class="arrival">
                <img src="assets/img/97.png" alt="">
                <div class="name1">Nike AirMax 97</div>


                <div class="tag1">
                  <a href="#">Go To Store</a>
              </div>
              </div>
            </div>

            <div class="col1">
              <div class="arrival">
                <img src="assets/img/37.png" alt="">
                <div class="name1">Nike AirMax 37</div>

                <div class="tag1">
                  <a href="#">Go To Store</a>
              </div>
              </div>
            </div>
            <div class="col1">
              <div class="arrival">
                <img src="assets/img/3.png" alt="">
                <div class="name1">Nike AirMax 3</div>

                <div class="tag1">
                  <a href="#">Go To Store</a>
              </div>
              </div>
            </div>
            <div class="col1">
              <div class="arrival">
                <img src="assets/img/react_vision.png" alt="">
                <div class="name1">React Vision</div>

                <div class="tag1">
                  <a href="#">Go To Store</a>
              </div>
              </div>
            </div>

            <div class="col1">
              <div class="arrival">
                <img src="assets/img/zoom fly 3.png" alt="">
                <div class="name1">Zoom Fly 3</div>
                <div class="tag1">
                  <a href="#">Go To Store</a>
              </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </section>
<section class="testi">

<div class="testimonials">
    <div class="inner">
      <h1>Testimonials</h1>
      <div class="border2"></div>

      <div class="row">
        <div class="col">
          <div class="testimonial">
            <img src="assets/img/favatar.svg" alt="">
            <div class="name">Ama</div>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>

            <p>
              "I was amazed by the quality of sneaker I got from GeniuneKicks. Thank you."
            </p>
          </div>
        </div>

        <div class="col">
          <div class="testimonial">
            <img src="assets/img/mavatar.svg" alt="">
            <div class="name">Kofi</div>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa far-star"></i>
              <i class="fa far-star"></i>
            </div>

            <p>
              "Keep up the good work. GeniuneKicks should be nominated for the nest quality products of the year."
            </p>
          </div>
        </div>

        <div class="col">
          <div class="testimonial">
            <img src="assets/img/favatar.svg" alt="">
            <div class="name">Adwoa</div>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa far-star"></i>
            </div>

            <p>
              "Awesome product. I love GeniuneKicks for the quality product. I cant get enouch of GeniuneKicks."
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="tagg">
      <a href="#">View More Testimonials</a>
  </div>
  </div>
</section>
<section id="contact">
    <!--socail----------->
      <div class="social">
      <!--icons--------->
      <a href="#"><i class="fa fa-facebook-f"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>


      </div>
      <!--contact-box------------->
      <div class="contact-box">
      <!--heading---------->
      <div class="c-heading">
      <h1>Get In Touch</h1>
      </div>
      <!--inputs------------------>
      <div class="c-inputs">
      <form>
      <input type="text" class="text" placeholder="Full Name"/>
      <input type="email" class="email" placeholder="Example@gmail.com"/>
      <textarea name="message" class="message" placeholder="Write Message"></textarea>
      <!--sumbit-btn----------->
      <div class="tag">
        <a href="#">Send</a>
      </div>
      </form>
      </div>

      </div>
      <!--map------------------->
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4046755.893748551!2d-1.0304069!3d7.9044654!3m2!1i1024!2i768!4f13.1!4m3!3e6!4m0!4m0!5e0!3m2!1sen!2sgh!4v1602783247755!5m2!1sen!2sgh" width="600" height="450" frameborder="0" style="border-radius: 16px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </section>
    <div class="in-between">
      <h1>Brands</h1>
      <div class="border2"></div>
    </div>

    <section class="logo-list">

      <article class="logos" >

        <div class="card-kick">
            <img src="assets/img/nike1.png" alt="" class="kick">
        </div>


      </article>


      <article class="logos">

        <div class="card-kick">
            <img src="assets/img/logox.png" alt="" class="kick">
        </div>


      </article>




      <article class="logos">

        <div class="card-kick">
            <img src="assets/img/vans.png" alt="" class="kick">
        </div>


      </article>



      <article class="logos">

        <div class="card-kick">
            <img src="assets/img/jordan.png" alt="" class="kick">
        </div>

      </article>


      <article class="logos">

        <div class="card-kick">
            <img src="assets/img/newbalance.png" alt="" class="kick">
        </div>


      </article>

      <article class="logos">

        <div class="card-kick">
            <img src="assets/img/reebok.png" alt="" class="kick">
        </div>

      </article>

      <article class="logos">

        <div class="card-kick">
            <img src="assets/img/logox.png" alt="" class="kick">
        </div>


      </article>


 </section>
</body>

